body{background-image:url("images/background.png")}

.contenu{
    margin-top: 3px;
    /*border: 2px solid black;*/
    padding-left: 400px;
    
}



.logo{
    
    margin-top: 1px;
    margin-left: 150px;
   /* border : 1px solid black; */
    width: 140px;
    padding: 2px;
    padding-bottom: 1px;
}

.logo img{
    width: 120%;
}

.search{
    
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 400px;
    background-color: rgb(39, 37, 37);
    border-radius: 20px;
    border: 1px solid #fff;
    opacity: 70%;
}
.search h1{
    font-size: 25px;
    color:#ffffff;
    font-family : 'lucida fax';
    font-style: italic;
    font-weight: 290;
    padding-top: 50px;
    padding-left: 43px;
    }
    
    .boite{
      /*  border : 1px solid black;*/
    }
    .box{
        width: 100%;
        margin-bottom: 15px;
        height: 25px;
        border-radius: 15px;
        opacity: 100%;
        padding-left : 10px;
        font-family: Times, serif;
        color: #ffffff ;
        background-color: black;
    }
    .label{
        color: #ffffff;
        font-family: 'minion variable concept';
        font-style: italic;
        
    }
    .choix{
        font-family: Times, serif;
        color: #ffffff ;
    }
    .btng{
        background-color: black;
        width: 150px;
        height: 25px;
        border-radius: 10px;
        opacity: 100%;
        padding: auto;
        margin-top: 10px;
        margin-bottom : 20px;
        margin-left: 130px;
        font-family: Times, serif;
        color: #ffffff ;
    }

    